<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="print()" color="medium">Print</ion-button>
      <ion-button (click)="fnClose($event)" color="danger">close</ion-button>
    </ion-buttons>
    <ion-title> Arabic Print Preview </ion-title>
  </ion-toolbar>
</ion-header>

<div  id="target"  style="color: #000; font-size: 10px; width: 100%;
 position: absolute; top: 65px;">
  <div style="width: 100%; margin-bottom: 3px; text-align: center">
    <img src="assets/images/shaniyanuts.png" height="100" />
  </div>

  <!-- <qr-code [value]="createdCode" size="300" errorCorrectionLevel="M"></qr-code> -->

  <!-- <div style="display: flex; border-bottom: 1px solid #000;
    justify-content: space-between;width: 100%;">
      <span>VAT No. {{branch?.TinNo1}} </span>
      <span>:رقم الضريبي</span>
    </div> -->

  <div style="display: flex; justify-content: space-between; width: 100%">
    <span>Inv. No. {{main?.BillSerPrefix}} - {{main?.Issue_SlNo}}</span>
    <span>: رقم الفاتورة</span>
  </div>

  <div style="display: flex; justify-content: space-between; width: 100%">
    <span>Date: {{main?.BillDate}}</span>
    <span>: التاريخ</span>
  </div>

  <div style="display: flex; justify-content: space-between; width: 100%">
    <span>Salesman: {{main?.SalesManName}}</span>
  </div>

  <div style="display: flex; justify-content: space-between; width: 100%">
    <span>Customer: {{main?.Issue_CustName}}</span>
    <span>: عميل </span>
  </div>

  <div style="border-bottom: 2px solid #000; display: flex;
   justify-content: space-between; width: 100%;">
    <span>Address: {{main?.Addr1}}</span>
    <span> </span>
  </div>

  <div style="border-bottom: 2px solid #000;display: flex;  justify-content: space-between; width: 100%;">
    <span>Cust Vat: {{main?.Tin1}}</span>
    <span> </span>
  </div>

  <div style="width: 100%; border-bottom: 1px solid #000">
    <table style="width: 100%" class="bill-table">
      <thead>
        <tr>
          <th>No</th>
          <th>Item Name</th>
          <th>Qty</th>
          <th>Price</th>
          <th><b>Total</b></th>
        </tr>
        <tr>
          <th style="border-bottom: 1px solid #000">الرقم</th>
          <th style="border-bottom: 1px solid #000">الصنف</th>
          <th style="border-bottom: 1px solid #000">الكمية</th>
          <th style="border-bottom: 1px solid #000">السعر</th>
          <th style="border-bottom: 1px solid #000"><b>الاجمالي</b></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of sub;let i = index">
          <tr>
            <td>{{i + 1}}</td>
            <td colspan="4">
              <span style="display: block">{{item.ItemDesc}}</span>
              <span *ngIf="item.ProdColor" style="display: block"
                >{{item.ProdColor}}</span
              >
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="text-align-right">{{item.IssueSub_Qty}}</td>
            <td class="text-align-right">
              {{item.IssueSub_OriginalRate | number:'1.3-3'}}
            </td>
            <td class="text-align-right">
              {{item.IssueSub_Amount | number:'1.3-3'}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- <div style="display: flex; justify-content: right;width: 100%;">
      <span>Sub Total :  {{main?.Issue_ATotal | number:'1.3-3'}}</span>
      </div> -->

  <div style="text-align: right; width: 100%">
    <span>Tax Amount : {{taxAmount() | number:'1.3-3'}} </span>
  </div>

  <div style="margin-bottom: 3px; text-align: right; width: 100%;">
    <span>Rof : {{main?.Issue_ROF | number:'1.3-3'}}</span>
  </div>

  <div style="border-bottom: 1px solid #000; margin-bottom: 3px;    text-align: right; width: 100%;">
    <span>Total : {{main?.Issue_Total | number:'1.3-3'}}</span>
  </div>

  <div style="display: flex; justify-content: center">
    <div class="clsQrDetails">
      <ngx-qrcode class="qrimg" [elementType]="'url'" [value]="strQRCode"
        cssClass="aclass" errorCorrectionLevel="L"></ngx-qrcode>
    </div>
  </div>

  <div style="display: flex; align-items: center; justify-content: center;      width: 100%;
      flex-direction: column;">
    <span>Thank You for shopping </span>
    <span>شكراً لـتسـوقـكـم</span>
  </div>
  <div style="text-align: center; width: 100%">
    ************************************
  </div>
</div>
