// .bill-table {
//     td {
//         padding: 2px;
//     }
// }
.text-align-right {
    text-align: right;
}

.clsQrDetails {
    height: 100px;
    width: 95px;
    img {
        height: 98% !important;
        width: 98% !important;
        object-fit: fill;
    }

    
}