
  
 table {
  border-collapse: collapse;
 }


    .Page {
     
      /* border: 1px #000000 solid; */
       height: 188mm;
         max-height: 188mm; min-height: 188mm;
          outline: 2cm #ffffff solid;  width: 13.4cm;

      /* width: 1096.055px;
      padding: 0px;
      position: relative;
      background-color: #fff;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      color: #635e5e;
      float: right;
      padding-right: 2px;
      padding: 0px;
      page-break-after: always; */
    }
  
    .invoicebox {
      background-color: #fff;
      /* margin: 0cm auto;
      height: 188mm !important;
      max-height: 188mm !important;
      min-height: 188mm !important;
      width: 13.4cm;
      height: 100%;
      padding: 0px;
      position: relative;
      background-color: #fff;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      color: #635e5e;
      float: right;
      padding-right: 2px;
      margin-right: 3px;
      margin-top: 4px; */
    }
  
    .corner {
      position: absolute;
      margin-top: -3px;
      margin-left: 10px;
      margin-bottom: 5px;
      margin-right: 15px;
      width: 100px;
      height: 105px;
    }
  
    .image {
      background: #ccc;
      max-width: 100%;
      max-height: 100%;
      position: relative;
    }
  
    span {
      white-space: nowrap;
      color: #635e5e;
    }
  
    .Header {
      text-align: center;
      height: 28px;
      padding-bottom: 2px;
      border: 1px solid #635e5e;
      border-bottom: none;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      color: #635e5e;
      padding-top: 2px;
  
     
    }
  
    .headerfont {
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      width: 100%;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      color: #635e5e;
    }
  
    .addressfont {
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      width: 100%;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      color: #635e5e;
    }
  
    .customerdetails {
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      height: 97px;
      width: 100%;
      overflow: hidden;
      border: 1px solid #635e5e;
      color: #635e5e;
      
    }

    .customerdetails span {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        color: #635e5e;
      }
  
      .customerdetails .form1 {
        padding-top: 3px;
        width: 329px;
        float: left;
        border: 1px solid #635e5e;
        border-left: none;
        border-top: none;
        border-bottom: none;
        height: 100%;
        overflow: hidden;
        color: #635e5e;
       
      }

      .customerdetails .form1 .clsCustomer1divspan {
        width: 420px;
        float: left;
        padding-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        height: 18px;
        color: #635e5e;
      }
  
      .customerdetails .form2 {
        padding-top: 3px;
        width: 169px;
        float: left;
        border: 1px solid #635e5e;
        border-left: none;
        border-right: none;
        border-top: none;
        height: 100%;
        border-bottom: none;
        overflow: hidden;
        color: #635e5e;
      }
  
    .ProductDetails {
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      width: 100%;
      height: auto;
      border: 1px solid #635e5e;
      border-top: none;
      border-bottom: none;
      color: #635e5e;
      
    }
    .ProductDetails th {
        background-color: #c1bfbf78;
        font-weight: bold;
        color: #635e5e;
      }
  
    .FotterSection {
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      width: 100%;
      height: 65px;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      color: #635e5e;
      padding: 3px;
     
    }

    .FotterSection .FooterTotalSection {
        float: right;
        width: 203px;
        padding-top: 9px;

      }

    .FooterTotalSection .GrandTotalAmount {
        width: 130px;
        text-align: right;
        overflow: hidden;
        padding-left: 4px;
        float: left;
        font-size: 16px;
        color: #635e5e;
      }

    .FotterSection .FooterTotalSection  .GrandTotalLabel {
        width: 73px;
        text-align: left;
        overflow: hidden;
        padding-left: 4px;
        float: left;
        
        font-size: 16px;
        color: #635e5e;
      }

  
    .DeclareSection {
      height: 200px;
      width: 100%;
      float: left;
      padding-top: 12px;
      color: #635e5e;
  
    }
    .MessageSection {
        width: 100%;
        float: left;
        padding-top: 0px;
        color: #635e5e;
      }
    .SignatureSection {
        width: 348px;
        float: left;
        text-align: center;
        color: #635e5e;
      }
  
    hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-width: 1px;
      border-color: #635e5e;
      float: left;
      width: 100%;
    }
  
    #pre-loader {
      display: none;
    }
  
    .tblNo {
     
      min-width: 33px;
      max-width: 33px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
      color: #635e5e;
    }
  
    .tblItemCode {
      width: 74px;
      min-width: 74px;
      max-width: 74px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
      color: #635e5e;
    }
  
    .tblProduct {
      width: 306px;
      min-width: 306px;
      max-width: 306px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: left;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .HSNCode {
      width: 30px;
      max-width: 30px;
      min-width: 30px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: left;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .RateofTax {
      width: 40px;
      max-width: 40px;
      min-width: 40px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .Unit {
      width: 65px;
      max-width: 65px;
      min-width: 65px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .ExpDate {
      width: 55px;
      max-width: 55px;
      min-width: 55px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: center;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
    .Batch {
      width: 70px;
      max-width: 70px;
      min-width: 70px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
    .UnitPrice {
      width: 60px;
      max-width: 60px;
      min-width: 60px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .DisRate {
      width: 60px;
      max-width: 60px;
      min-width: 60px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .Mrp {
      width: 60px;
      max-width: 60px;
      min-width: 60px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .Qty {
      width: 48px;
      max-width: 48px;
      min-width: 48px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .Free {
      width: 35px;
      max-width: 35px;
      min-width: 35px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .GrossValue {
      width: 60px;
      max-width: 60px;
      min-width: 60px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .DisGrossValue {
      width: 60px;
      max-width: 60px;
      min-width: 60px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .GstAmount {
      width: 55px;
      max-width: 55px;
      min-width: 55px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .CashDisc {
      width: 55px;
      max-width: 55px;
      min-width: 55px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
  
    .Tax {
      width: 35px;
      max-width: 35px;
      min-width: 35px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
    .SchemAmt {
      width: 50px;
      max-width: 50px;
      min-width: 50px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-top: none;
      white-space: nowrap;
    }
    .Amount {
      width: 75px;
      max-width: 75px;
      min-width: 75px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      border: 1px solid #635e5e;
      border-left: none;
      border-bottom: none;
      border-right: none;
      border-top: none;
      white-space: nowrap;
      color: #635e5e;
    }
  
    .tblTaxDetails {
      margin-left: 13px;
      margin-top: 1px;
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      border: 1px solid #635e5e;
     
    }
    .tblTaxDetails td, th {
        padding: 2px;
        border: 1px solid #635e5e;
        width: 68px;
        text-align: center;
        color: #635e5e;
      }

    .tblAmountDetails {
      font-family: Arial;
      color: #635e5e;
      font-size: 12px;
      font-weight: bold;
      
     
    }

    .tblAmountDetails  td, th {
        padding: 1px;
        white-space: nowrap;
        border: 1px solid #635e5e;
        color: #635e5e;
      }

    .divOutstanding {
      float: left;
      width: 210px;
      overflow: hidden;
      border: 1px solid #635e5e;
  
      
    }

    .divOutstanding span {
        float: left;
      }

  