
   <ion-header> 
       <ion-toolbar >
        <ion-searchbar debounce="500" [(ngModel)]="keyword"  animated (ionChange)="fnCompanys()" placeholder="Filter Company" color='light'>
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content style="position: absolute;">
  <div class="loader-new" *ngIf="loading">
    <ion-spinner name="dots" color='primary'></ion-spinner>
  </div>
    <ion-virtual-scroll [items]="manufactureData">
        <ion-item mode="ios" button lines="full" *virtualItem="let item" (click)="storedId(item.Manufacture_Id)">
          <ion-label> {{ item.Manufacture_Name }}</ion-label>
          <!-- Manufacture_Id Manufacture_Addr1 -->
        </ion-item>
      </ion-virtual-scroll>
</ion-content>