.report-ripple {
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    margin: 10px 5px;
    box-shadow: 1px 1px 3px 1px #607D8B;
    font-size: 14px;
    border-radius: 5px;
    background: #3880fe;
    font-weight: 500;
    color: #fff;
}