ion-item {
  
    --inner-padding-end: 5px;
    ion-checkbox {margin: 8px 0px;}
    
}
.calender {
    height: 30px;
    background: #ffffff;
    font-size: 18px;
    color: #424242;
}

.ui-autocomplete {
    width: 100%;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background: #fff;
    left: 0;
    right: 0;
    border-bottom: 1px solid #333;
    padding: 0 5px 0px 5px;
    .inner-div {
        overflow: auto;
        max-height: 300px;

        .txtname {
            display: grid;
            line-height: 1.5;
            height: 36px;
            overflow: hidden;
            align-items: end;

            span:first-child {
                width: 100%;
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
            }

            span:last-child {
                width: 100%;
                font-size: 10px;
                color: #3171e0;
                white-space: nowrap;
            }
        }

        ion-item {
            --border-width: 0px 0 1px 0px;
            --inner-border-width: 0;
            font-size: 12px !important;
            --min-height: 26px !important;
            --padding-start: 5px !important;
            margin-bottom: 5px;
        }
    }
}

.tblreport {
    width: 100%;
    overflow: auto;
    table {
        width: 100%;
        border-collapse: collapse;

        th {
            background: #0ec254;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 13px;
    padding: 3px;
    white-space: nowrap;
    font-weight: 500;
        }

        td {
            border: 1px solid #ccc;
    font-size: 11px;
    padding: 5px;
        }
    }
}