<ion-header>
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="getCurrentCoordinates()"><ion-icon name="pin"></ion-icon></ion-button>
      <ion-button color="danger" (click)="dismiss(true)"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
      <ion-button color="success" (click)="dismiss(false)">
        <ion-icon  slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500" placeholder="Search for a place" 
  [(ngModel)]="autocomplete.input"  (ionChange)="UpdateSearchResults()"></ion-searchbar>
  <!-- <div class="location-head">
  <ion-item>
    <ion-label>Location</ion-label>
    <ion-input placeholder="Search for a Place" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()"></ion-input>
  </ion-item>
  <ion-button (click)="initMap()">Go</ion-button>
</div> -->

<ion-list [hidden]="autocompleteItems.length == 0">
  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
    {{ item.description }}
  </ion-item>
</ion-list>

  <div #map id="map" [class.newBG]="state"></div>  
</ion-content>