<ion-content  padding>
<div class="div_connection">
  <div>
    <ion-img src="../assets/images/network.png"></ion-img>
  </div>
  <div>
    <ion-text color="dark">
     <h4>Connection Failed!</h4> 
    </ion-text>
    <ion-text color="medium">
      <p>I tried my best but it looks like there is no connectivity. please check your internet connection
        and i'll be alive again.
      </p>
    </ion-text>
   
  </div>

  <ion-button expand="block"  color="secondary" exp (click)="fnReload()">Reload</ion-button>
 
</div>

</ion-content> 